.navbar {
    background-color: #668586;
}

.curved {
    background-color: #668586;
    color: #ffffff;
}

#selfie {
    max-width: 75%;
    margin: auto;
    display: block;
}

.fullscreen {
    min-height: 100vh;
    /* padding-top: 15vh; */
}

.carousel-item .d-block {
    width: 300px;
    height: 500px;
    object-fit: cover;
}