/* 
COLOR PALETTE
#B8D8D8 light blue
#7A9E9F cadet grey
#4F6367 payne's grey
#EEF5DB beige
#FE5F55 bittersweet
*/

.color {
    background-color: #394648;
    color: #F9F8F8;
}

#selfie {
    max-width: 45%;
    margin: 40px auto;
    display: block;
    border-radius: 50%;
}

div.container-fluid {
display: flex;
padding: 0 10%;
}


/* Default styles that apply to all screen sizes */
.fixed-column {
    /* background-color: red; */
    /* flex-direction: column; */
}

/* Styles for large screens */
@media (min-width: 992px) {

    div.container-fluid .fixed-column {
    position: fixed;
    top: 0;
    left: 0;
    padding-left: 10%;
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    /* background-color: #7A9E9F; Change to your preferred background color */
    z-index: 1;
    }

    .scrollable {
    margin-left: 50%;
    max-height: 100vh;
    }
}

#greeting {
    padding-bottom: 20%;
}

#greeting h1 {
    font-size: 5em;
}

#section-names {
    margin-top: 10%;
}

.section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

a:link { text-decoration: none; color: #F9F8F8; }
a:visited { text-decoration: none; color: #F9F8F8; }
a:hover { text-decoration: none; color: #F9F8F8; }
a:active { text-decoration: none; color: #F9F8F8; }

h6 {
    padding-left: 0;
    transform: scale(1);
    transition: padding-left 0.5s ease, transform 0.5s ease;
}
  
h6.active {
    padding-left: 100px;
    transform: scale(1);
}

/* PROJECTS */

.project {
    padding: 2em 0;
}

.project-img {
    max-width: 100%;
}